:root {
  --orange: hsl(25, 97%, 53%);
  --lt-grey: hsl(217, 12%, 63%);
  --md-grey: hsl(216, 12%, 54%);
  --dk-blue: hsl(213, 19%, 18%);
  --vdk-blue: hsl(216, 12%, 8%);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Overpass', sans-serif;
}

.card {
  background-color: var(--vdk-blue);
  font-size: 15px;
  border: none;
  border-radius: 8px;
  width: min(20rem, 80vw);
  margin-block: 25vh;
  margin-inline: auto;
  padding: 1.5rem;
}

.card > * {
  margin-bottom: 0.75rem;
}

.centered > * {
  margin-inline: auto;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: var(--lt-grey);
}

p {
  margin-block: 1em;
}

.copy {
  color: var(--md-grey);
}

.orange-text {
  color: var(--orange);
}

button.circle {
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  background-color: var(--dk-blue);
  cursor: pointer;
  color: var(--lt-grey);
  text-align: center;
  transition: 0.3s;
}

img.bubble, .oval {
  padding: 2px 20px;
  background-color: var(--dk-blue);
  border: none;
  border-radius: 30px;
  text-align: center;
  width: max-content;
}

img.bubble {
  padding: 8px;
}

button.circle:hover {
  background-color: var(--orange);
  color: #fff;
}

button.circle:focus {
  background-color: var(--md-grey);
  color: #fff;
}

.circle-cont {
  display: flex;
  justify-content: space-between;
}

button.submit {
  border: none;
  border-radius: 50px;
  width: 100%;
  padding: 16px 12px;
  background-color: var(--orange);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

button.submit:hover, button.submit:active {
  background-color: #fff;
  color: var(--orange);
}